spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: false

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  kafka:
    bootstrap-servers: localhost:19092,localhost:19093,localhost:19094,localhost:19095,localhost:19096
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 5
      enable-idempotence: true
      batch-size: 32768
      linger-ms: 50
      compression.type: snappy
      buffer-memory: 33554432
      transaction-id-prefix: order-tx-
      properties:
        schema.registry.url: http://localhost:8081
