services:
  service-a:
    build: ./service_15
    container_name: service15_con
    ports:
      - "8081:8080"   # host port 8081 -> container 8080
    networks:
      - services-net
      - infra-net
      - obs-net
    environment:
      # Spring app
      - SPRING_APPLICATION_NAME=service-a
      - SERVER_PORT=8080

      # Eureka
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - EUREKA_INSTANCE_HOSTNAME=service-a

      # OpenTelemetry (auto-instrumentation agent mounted into image)
      - JAVA_TOOL_OPTIONS=-javaagent:/otel/opentelemetry-javaagent.jar -Dotel.exporter.otlp.endpoint=http://tempo:4317 -Dotel.resource.attributes=service.name=service-a

  service-b:
    build: ./service_16
    container_name: service16_con
    ports:
      - "8082:8080"   # host port 8082 -> container 8080
    networks:
      - services-net
      - infra-net
      - obs-net
    environment:
      - SPRING_APPLICATION_NAME=service-b
      - SERVER_PORT=8080

      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - EUREKA_INSTANCE_HOSTNAME=service-b

      - JAVA_TOOL_OPTIONS=-javaagent:/otel/opentelemetry-javaagent.jar -Dotel.exporter.otlp.endpoint=http://tempo:4317 -Dotel.resource.attributes=service.name=service-b

networks:
  infra-net:
    external: true
  services-net:
    external: true
  obs-net:
    external: true
