services:
  service-a:
    build: ./service_15
    container_name: service_a
    ports:
      - "8081:8080"     # Application port for service-a
      - "9464:9464"     # Prometheus metrics
    networks:
      - obs-net
    volumes:
      - ../logs/service_15:/var/log/microservice
    environment:
      OTEL_SERVICE_NAME: service-a
      OTEL_TRACES_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_ENDPOINT: http://tempo:4318
      OTEL_METRICS_EXPORTER: prometheus
      OTEL_METRICS_PROMETHEUS_PORT: 9464

  service-b:
    build: ./service_16
    container_name: service_b
    ports:
      - "8082:8080"     # Application port for service-b
      - "9465:9464"     # Prometheus metrics (mapped to host 9465)
    networks:
      - obs-net
    volumes:
      - ../logs/service_16:/var/log/microservice
    environment:
      OTEL_SERVICE_NAME: service-b
      OTEL_TRACES_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_ENDPOINT: http://tempo:4318
      OTEL_METRICS_EXPORTER: prometheus
      OTEL_METRICS_PROMETHEUS_PORT: 9464

networks:
  obs-net:
    external: true
