services:
  grafana:
    build: ./grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - obs-net
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data:

networks:
  obs-net:
    external: true
