services:

  # Eureka Node 1
  eureka1:
    build: ../microservice-serviceDiscovery
    image: eureka-server:1.0
    container_name: eureka1
    environment:
      - SERVER_PORT=9091
      - EUREKA_INSTANCE_HOSTNAME=eureka1
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaadmin:eurekapass@eureka2:9092/eureka/,http://eurekaadmin:eurekapass@eureka3:9093/eureka/
      - SPRING_SECURITY_USER_NAME=eurekaadmin
      - SPRING_SECURITY_USER_PASSWORD=eurekapass
    ports:
      - "9091:9091"
    networks:
      - micro-net-2

  # Eureka Node 2
  eureka2:
    build: ../microservice-serviceDiscovery
    image: eureka-server:1.0
    container_name: eureka2
    environment:
      - SERVER_PORT=9092
      - EUREKA_INSTANCE_HOSTNAME=eureka2
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaadmin:eurekapass@eureka1:9091/eureka/,http://eurekaadmin:eurekapass@eureka3:9093/eureka/
      - SPRING_SECURITY_USER_NAME=eurekaadmin
      - SPRING_SECURITY_USER_PASSWORD=eurekapass
    ports:
      - "9092:9092"
    networks:
      - micro-net-2

  # Eureka Node 3
  eureka3:
    build: ../microservice-serviceDiscovery
    image: eureka-server:1.0
    container_name: eureka3
    environment:
      - SERVER_PORT=9093
      - EUREKA_INSTANCE_HOSTNAME=eureka3
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaadmin:eurekapass@eureka1:9091/eureka/,http://eurekaadmin:eurekapass@eureka2:9092/eureka/
      - SPRING_SECURITY_USER_NAME=eurekaadmin
      - SPRING_SECURITY_USER_PASSWORD=eurekapass
    ports:
      - "9093:9093"
    networks:
      - micro-net-2

  # microservice7
  microservice7:
    build: ../microservice7
    image: microservice7:1.0
    container_name: microservice7-container
    environment:
      - SERVER_PORT=8087
      - EUREKA_INSTANCE_HOSTNAME=microservice7
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaadmin:eurekapass@eureka1:9091/eureka/,http://eurekaadmin:eurekapass@eureka2:9092/eureka/,http://eurekaadmin:eurekapass@eureka3:9093/eureka/
    ports:
      - "8087:8087"
    depends_on:
      - eureka1
      - eureka2
      - eureka3
    networks:
      - micro-net-2

  # microservice8
  microservice8:
    build: ../microservice8
    image: microservice8:1.0
    container_name: microservice8-container
    environment:
      - SERVER_PORT=8088
      - EUREKA_INSTANCE_HOSTNAME=microservice8
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaadmin:eurekapass@eureka1:9091/eureka/,http://eurekaadmin:eurekapass@eureka2:9092/eureka/,http://eurekaadmin:eurekapass@eureka3:9093/eureka/
    ports:
      - "8088:8088"
    depends_on:
      - eureka1
      - eureka2
      - eureka3
    networks:
      - micro-net-2

  # loadbalancer
  microservice-loadbalancer:
    build: ../microservice-loadbalancer
    image: loadbalancer-service:1.0
    container_name: loadbalancer-service
    environment:
      - SERVER_PORT=8089
      - EUREKA_INSTANCE_HOSTNAME=microservice-loadbalancer
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaadmin:eurekapass@eureka1:9091/eureka/,http://eurekaadmin:eurekapass@eureka2:9092/eureka/,http://eurekaadmin:eurekapass@eureka3:9093/eureka/
    ports:
      - "8089:8089"
    depends_on:
      - eureka1
      - eureka2
      - eureka3
      - microservice7
      - microservice8
    networks:
      - micro-net-2

networks:
  micro-net-2:
    driver: bridge
