services:
  elasticsearch:
    build: ./elasticsearch
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - sample-microservices-logging-net
    volumes:
      - esdata:/usr/share/elasticsearch/data

volumes:
  esdata:

networks:
  sample-microservices-logging-net:
    external: true
