server:
  port: 0


eureka:
  instance:
    metadata-map:
      version: 1.0.0
      env: dev
    instance-id: ${spring.application.name}:${random.value}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}